body{
    background-color: #efefef;
}
.main{
    background-color: white;
    margin: 68px;
    margin-top: 40px;
}
.btn-publish{
    float: right;
    margin-bottom: 15px;
}
.media{
    margin-left: 15px;
}
.media-object{
    width: 38px;
    height: 38px;
}
/*.media-body{*/
/*    padding-top: 10px;*/
/*}*/
.question-status{
    font-size: 12px;
    font-weight: normal;
    color: #8c8c8c;
}
.question-related{
    padding-left: 0;
    list-style: none;
    line-height: 23px;
}
.publish-tag-tab{
    display: none;
    margin-top: 10px;
}
.profile .section{
    margin-top: 24px;
}
.community-menu{
    color:#999;
    font-size:13px;
    margin-bottom: 5px;
}
.community-question-hr{
    margin-bottom: 0px;
}
.label-margin-top{
    margin-top: 7px;
}
.label-margin-right{
    margin-right: 10px;
}
.pageboy-notfound{
    padding-right: 15px;
    padding-left: 15px;
    margin-left: 200px;
    margin-top: 30px;
}
.comment{
    margin: 10px 0px;
}
.comments{
    padding-bottom: 5px;
    margin-bottom: 15px;
    border-bottom: 1px solid #eee;
}
.sub-comments{
    border-radius: 7px;
    margin-top: 15px;
    padding-top: 10px;
    border:1px solid #eee;
    margin-bottom: 15px;
}
.sub-comments .btn{
    margin: 10px 0;
}
.btn-comment{
    float: right;
    margin-bottom: 10px;
}
.comment-sp{
    margin-top: 13px;
}
.menu{
    color: #999999;
}
.menu .ico{
    margin-right: 6px;
    font-size: 16px;
    cursor: pointer;
}
.menu .ico:hover{
    color: #499ef3;
}
.menu .active{
    color: #499ef3;
}
.question-name{
    font-weight: bold;
}
.content-detail{
    margin:7px 0 7px;
}
.content-frame{
    margin-top: 10px;
}
.pull-right{
    float: right;
}
.page-font-style{
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 30px;
}