<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${sectionName}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="/css/bootstrap.css">

    <!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
    <link rel="stylesheet" href="/css/bootstrap-theme.css">

    <link rel="stylesheet" href="/css/personal.css">

    <script src="/js/jquery-3.5.1.min.js"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="/js/bootstrap.js"></script>
</head>
<body>
<div th:insert="~{navigation :: navigation}"></div>
<div class="container-fluid main profile" style="background-color: white">
    <div class="row">

        <!--页面左侧-->
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <h2><span th:text="${sectionName}"></span></h2>
            <hr>
            <!--点击我的提问-显示问题列表-->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" th:if="${section == 'question'}">

                <div class="media" th:each="question : ${pagination.data}">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object img-rounded" th:src="${question.user.avatarUrl}">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">
                            <a th:href="@{'/question/' + ${question.id}}" th:text="${question.title}"></a>
                        </h4>
                        <span class="question-status"><span th:text="${question.likeCount}"></span>个点赞 ●
                        <span th:text="${question.commentCount}"></span>次浏览 ●
                        <span th:text="${question.viewCount}"></span>个回复 ● 创建时间
                        <span th:text="${#dates.format(question.gmtCreate,'YYYY-MM-dd H:m')}"></span>
                        <span th:if="${session.user != null && session.user.id == question.creator}">
                        <a th:href="@{'/publish/'+${question.id}}" class="community-menu">
                            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                            编辑</a>
                        </span>
                    </div>
                </div>



            </div>
            <!--点击最新通知-显示通知列表-->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" th:if="${section == 'replies'}">
                <div class="media" th:each="notification : ${pagination.data}">
                    <div class="media-body">
                        <p class="media-heading">
                            <span th:text="${notification.notifierName+' '+notification.typeName+' '}"></span>
                            <a th:href="@{'/notification/' + ${notification.id}}"
                               th:text="${notification.outerTitle}"></a>
                            <span class="label label-danger" th:if="${notification.status == 0}">未读</span>
                        </p>
                    </div>
                </div>

            </div>
            <!--页面下方翻页功能模块-->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <nav aria-label="Page navigation">
                    <ul class="pagination">
                        <li th:if="${pagination.isShowFirstPage}">
                            <a href="/profile/?page=1" aria-label="Previous">
                                <span aria-hidden="true">&lt;&lt;</span>
                            </a>
                        </li>
                        <li th:if="${pagination.showPrevious}">
                            <a th:href="@{/profile/question/(page=${pagination.page -1})}" aria-label="Previous">
                                <span aria-hidden="true">&lt;</span>
                            </a>
                        </li>
                        <li th:each="page : ${pagination.pages}" th:class="${pagination.page == page}? 'active':''">
                            <a th:href="@{/profile/question/(page=${page})}" th:text="${page}"></a>
                        </li>
                        <li th:if="${pagination.showNext}">
                            <a th:href="@{/profile/question/(page=${pagination.page +1})}" aria-label="Next">
                                <span aria-hidden="true">&gt;</span>
                            </a>
                        </li>
                        <li th:if="${pagination.showEndPage}">
                            <a th:href="@{/profile/question/(page=${pagination.totalPage})}" aria-label="Next">
                                <span aria-hidden="true">&gt;&gt;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <!--页面右侧-->
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <div class="list-group section">
                <!--将原来单独的class=‘list-group-item’放到active后来解决样式错误问题-->

                <a href="/profile/question"
                   th:class="${section == 'question'}? 'active list-group-item':'list-group-item'">我的提问
                    <span class="badge"></span></a>
                <a href="/profile/replies"
                   th:class="${section == 'replies'}? 'active list-group-item':'list-group-item'">
                    最新回复
                    <span class="badge" th:text="${session.unreadCount}"/> </a>
            </div>
        </div>
    </div>
</div>
</body>
</html>